includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    bootstrapFiles:
        - stubs/wp-stubs.php
    ignoreErrors:
        - '#^Function (esc_html__|esc_attr|esc_url|wp_nonce_field|wp_verify_nonce) not found\.$#'
    tmpDir: .phpstan-cache
