<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  colors="true"
  cacheResultFile=".phpunit.cache/test-results"
  beStrictAboutOutputDuringTests="false"
>
  <extensions>
    <bootstrap class="SmartAlloc\Tests\Support\ObPhpUnitExtension"/>
  </extensions>

  <php>
    <env name="SMARTALLOC_TESTS" value="1"/>
    <ini name="display_errors" value="0"/>
    <ini name="error_reporting" value="-1"/>
  </php>

  <testsuites>
    <testsuite name="All">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="Performance">
      <directory>tests/Performance</directory>
    </testsuite>
    <testsuite name="Regression">
      <directory>tests/Regression</directory>
    </testsuite>
    <testsuite name="Meta">
      <directory>tests/Meta</directory>
    </testsuite>
    <testsuite name="Admin"><directory>tests/Admin</directory></testsuite>
    <testsuite name="Infra"><directory>tests/Infra</directory></testsuite>
    <testsuite name="Integration"><directory>tests/Integration</directory></testsuite>
    <testsuite name="REST"><directory>tests/REST</directory></testsuite>
  </testsuites>
</phpunit>
