<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>

  <logging>
    <log type="coverage-clover" target="build/coverage.xml"/>
    <log type="junit" target="build/junit.xml"/>
    <log type="testdox-text" target="build/testdox.txt"/>
  </logging>

  <php>
    <env name="XDEBUG_MODE" value="coverage"/>
  </php>
</phpunit>

