<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="SmartAlloc Test Suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Security">
            <directory>tests/Security</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>tests/E2E</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>
    <logging>
        <log type="coverage-clover" target="artifacts/coverage/clover.xml"/>
    </logging>
    <php>
        <env name="WP_TESTS_DIR" value="vendor/wordpress/wordpress-tests-lib"/>
        <env name="WP_CORE_DIR" value="vendor/wordpress/wordpress"/>
    </php>
</phpunit> 