<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="unit">
            <file>tests/unit/SmokeTest.php</file>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <file>src/Example.php</file>
        </include>
    </coverage>
    <logging>
        <junit outputFile="build/junit.unit.xml"/>
        <coverage-clover outputFile="build/coverage.unit.xml"/>
    </logging>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
